COOKIE_SECRET = 
FRONTEND_URL = http://localhost:3000
MONGODB_URI = mongodb+srv://username:password@cluster0.kwor4pu.mongodb.net/BookManager?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET = 
NODE_ENV = development
SALT_ROUND = 